@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s; }

#start {
  width: 1000px; }
  #start p {
    font-size: 80px; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: -1px;
  background: #d7d7d7;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0f0f0), to(#bebebe));
  background: -webkit-radial-gradient(#f0f0f0, #bebebe);
  background: -moz-radial-gradient(#f0f0f0, #bebebe);
  background: -ms-radial-gradient(#f0f0f0, #bebebe);
  background: -o-radial-gradient(#f0f0f0, #bebebe);
  background: radial-gradient(#f0f0f0, #bebebe); }
  body div, body header, body footer, body section {
    text-align: center;
    width: 900px;
    height: 700px; }
    body div ul, body header ul, body footer ul, body section ul {
      text-align: left; }
      body div ul li, body header ul li, body footer ul li, body section ul li {
        padding-top: 0.5em; }

.step {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }
  .step.active {
    opacity: 1; }

.slide {
  display: block;
  padding: 40px 60px;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #666666;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

/** slide-specific styles **/
.hiDave {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -ms-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s; }

#boom.step img {
  height: 90%; }
